body {
    margin: 0;
    font-family: Arial, sans-serif;
} 

#navbar {
    position: fixed; /* makes it stick */
    top: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;

    display: flex;
    align-items: center;
    
    padding-left: 20px;

    transition: top 0.3s ease;
}

.content {
    margin-top: 80px;
    padding: 20px;
    height: 2000px;
}
